section.about
  .container.about__container
    .about__heading-row
      h1.title.about__title Блок "Обо мне"
      button(type='button').btn.btn--add-skills-group Добавить группу
    .about__cards
      include ./skill-cards.pug