header.header
  .container.header__container
    .header__col.header__col--first
      .user-info.header__col-content
        .user-info__avatar-wrapper
          img(src="../images/content/avatar.jpg" alt="Аватар пользователя").avatar
        .user-info__name Платон Ясев
      .window-desc Панель администрирования
    .header__col.header__col--last
      a(href="#").exit-btn Выйти