.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;

  &--up {
    transform: translate(-50%, -50%) rotate(-90deg);
    fill: white;
  }

  &--down {
    transform: translate(-50%, -50%) rotate(90deg);
    fill: white;
  }

  &--left {
    transform: translate(-50%, -50%) rotate(180deg);
    fill: #2d3c4e;
  }

  &--right {
    transform: translate(-50%, -50%);
    fill: #2d3c4e;
  }

  
}