.contacts {
  padding-bottom: 200px;
}

.contacts__content {
  width: 50%;
}

.contacts__form {
  width: 100%;
}

.contacts__form-row {
  display: flex;
  flex-wrap: wrap;
}

.contacts__form-col {
  flex: 1;
  margin-right: 5%;
}

.contacts__form-label {
  display: block;
}

.contacts__form-input {
  width: 100%;
}

.contacts__form-textarea {
  width: 100%;
}