.experience-contacts-block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url('../images/bg/budda.jpg'); */
}