.skill {
  position: relative;
  width: 135px;
  height: 135px;
}

.skill__chart {
  width: 100%;
  height: 100%;
}

.skill__circle {
  fill: transparent;

  &--under {
    stroke-width: 5PX;
    stroke: #eaeaea;
  }

  &--above {
    stroke-width: 10PX;
  }
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
}