.skills__container {
  padding: 10% 0;
}

.skills__content {
  display: flex;
  align-items: stretch;

  &:before {
    content: "";
    display: block;
    width: 50%;
    height: 450px;
    background: url("../images/bg/bag.png") center center no-repeat;
    background-size: contain;
  }

}

.skills__content-charts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}