.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
}