.stack-row__list {
  display: flex;

  @include mini-phones {
    flex-wrap: wrap;
  }
}

.stack-row__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2%;

  @include tablets {
    text-align: center;
  }
}

.stack-row__item {
  flex: 1 0 25%;

  &:last-child {
    margin-right: 0;
  }

  @include mini-phones {
    flex: 1 0 50%;
  }
}