.title {
  font-size: 36px;
  font-weight: bold;

  &--hero {
    font-size: 72px;
    font-weight: 800;
    display: inline;

    @include desktop {
      display: block;
    }
  }

  &--personal-info {
    font-size: 36px;
    font-weight: bold;
    color: $text-color;
  }

  &--skills {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  &--reviews {
    margin-right: 30px;
  }
}
