.triangles-greeting {
  position: relative;
  height: 80px;
  margin-top: -80px;

  @include phones {
    height: 50px;
    margin-top: -50px;
  }
}

.triangles-greeting__item {
  display: block;
  width: 50%;
  position: absolute;
  height: 100%;
  fill: #ffffff;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}