footer.footer
  .container.footer__container
    .footer__copyright
      .copyright
        .copyright__year &copy; 2019
        .copyright__person-info
          .copyright__name Платон Ясев
          .copyright__desc Личный сайт веб-разработчика
    .footer__content
      .footer__nav
        - var navItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
        - var navAnchors = ["#hero", "#personal-info", "#skills", "#works", "#reviews", "#contacts"];
        nav.nav
          ul.nav__list
            each item, index in navItems
              li.nav__item
                a(href=`${navAnchors[index]}`).nav__link #{item}
      .footer__content-data
        .footer__about-me
          article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer__socials
            - var socialItems = ['insta', 'vk', 'github']
            .socials
              ul.socials__list
                each item in socialItems
                  li(class=`socials__item socials__item--${item}`)
                    a(href="#").socials__link
                      +icon(item, `socials__icon socials__icon--${item}`)
        .footer__quote
          article.quote
            .quote__text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
            .quote__author Martin Golding  