section.hero.fullscreen-section#hero
  .container.hero__container
    include ./header
    .hero__greeting-block-wrapper
      .hero__greeting-block
        span.hero__greeting-text Личный сайт
        span.hero__greeting-text веб-разработчика
        h1.title.title--hero Платон Ясев
    include ./scroll