section.hero.fullscreen-section#hero
  .container.hero__container
    include ./header
    .hero__greeting-block-wrapper
      .hero__greeting-block
        h2.hero__greeting-text Личный сайт веб-разработчика
        h1.title.title--hero Платон Ясев
    include ./scroll