section.hero.fullscreen-section
  .container
    include ./header
    .hero__name-block
      h2.content-text.content-text--hero Личный сайт веб-разработчика
      h1.content-text.content-text--main-title Платон Ясев
    include ./scroll
    