- var navItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
- var navAnchors = ["#hero", "#personal-info", "#skills", "#works", "#reviews", "#contacts"];

nav.nav
  ul.nav__list
    each item, index in navItems
      li.nav__item
        a(href=`${navAnchors[index]}`).nav__link #{item}