- var tableRows = { "Проживаю:": "Москва", "Возраст:": "24 года", "Родился:": "16 октября 1994" }

section.personal-info
  .container
    .personal-info__content-wrapper
      .personal-info__content
        .personal-info__image-table
          .personal-info__image-block
            .personal-info__image-wrapper
              +image("content/avatar.jpg", "personal-info__image")
          .personal-info__table-info
            table.personal-info__table
              each value, key in tableRows
                tr.personal-info__row
                  td.personal-info__col.personal-info__col--title #{key}
                  td.personal-info__col.personal-info__col--content #{value}
        .personal-info__text-block
          .personal-info__greeting-block
            p.personal-info__greeting-title
            p.personal-info__name
          p.personal-info__info-text
          p.personal-info__info-text--italic
          
