- 
  var reviewsItems = [
    {
      "name": "Ковальчук Дмитрий",
      "position": "Основатель Loftschool",
      "content": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "photoPath": "content/avatar.jpg"
    },
    {
      "name": "Владимир Сабанцев",
      "position": "Преподаватель",
      "content": "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.",
      "photoPath": "content/avatar.jpg"
    }
  ]

section.reviews#reviews
  .reviews__slider
    .reviews__heading-row
      h2.title.title--reviews Что обо мне говорят
      .reviews__arrows
        button(type="button").reviews__btn.reviews__btn--left
          +icon('arrow-down', 'arrow arrow--left')
        button(type="button").reviews__btn.reviews__btn--left
          +icon('arrow-down', 'arrow arrow--right')
    ul.reviews__list
      each item in reviewsItems
        li.reviews__item
          p.reviews__content #{item.content}
          .reviews__person-info
            .reviews__img-wrapper
              +image(`${item.photoPath}`, "reviews__img")
            .reviews__person-desc
              .reviews__name #{item.name}
              .reviews__position #{item.position}
