- 
  var stackItems = [
    ['Front-end', ['HTML5', 'CSS3', 'JavaScript', 'jQuery и Vue.js']],
    ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']]
  ]

section.skills#skills
  .container.skills__container
    .skills__content-wrapper
      h2.title.title--skills Чем я могу быть полезен вам
      .skills__content
        .skills__image-block
          +image("bg/bag.png", "skills__img")
        .skills__content-charts
          p.skills__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          ul.skills__stack
            each stackRow in stackItems
              li(class="stack")
                h3.stack-row__title #{stackRow[0]}
                ul.stack-row__list
                  each skill in stackRow[1]
                    li(class=`skill skill--${skill}`)
                      svg.skill__chart(viewBox="0 0 100 100" preserveAspectRatio="none")
                        defs
                          linearGradient#circle-gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                            stop(offset="0%" stop-color="#00bc9b")
                            stop(offset="100%" stop-color="#5eaefd")
                        circle.skill__circle.skill__circle--under(cx="50" cy="50" r="40")
                        circle.skill__circle.skill__circle--above(cx="50" cy="50" r="40" stroke="url(#circle-gradient)")
                      span.skill__title #{skill}
