script(type="text/x-template")#reviews-list
  section.reviews
    .reviews__slider
      .reviews__heading-row
        h2.title.title--reviews Что обо мне говорят
        .reviews__arrows
          button(type="button" @click="previous()").reviews__btn.reviews__btn--left
            +icon('arrow-down', 'arrow arrow--left')
          button(type="button" @click="next()").reviews__btn.reviews__btn--right
            +icon('arrow-down', 'arrow arrow--right')
      flickity.reviews__list(ref="flickity" :options="flickityOptions")
        .review.reviews__item.carousel-cell(v-for="review in reviews" :key="review.id")
          review(
            :review="review"
          )

script(type="text/x-template")#review
  blockquote.review__content-block
    .review__content
      p {{review.content}}
    footer.review__person-info
      .review__img-wrapper
        img(:src="review.photoPath" alt="Фотография оставившего отзыв").review__img
      .review__person-desc
        cite.review__name {{review.name}}
        span.review__position {{review.position}}
