script(type="text/x-template")#works-component
  section.works
    .container.works__container
      .works__content-wrapper
        h2.title.title--works.works__title Мои работы
        .works__content
          .works__slider
            ul.works__slider-list
              li.works__slider-item
                display(
                  :works="works"
                  :currentWork="currentWork"
                  :currentIndex="currentIndex"
                  @slide="handleSlide"
                  @thumbClick="handleThumbClick"
                )
                info(
                  :currentWork="currentWork"
                )

script(type="text/x-template")#display-component
  .works__preview-block(:slideIndex="currentIndex + 1")
    .works__preview-img-wrapper
      img(:src="currentWork.photo" alt="Превью работы").works__preview-img
      thumbsList(
        :works="works"
        :currentWork="currentWork"
        @thumbClick="index => $emit('thumbClick', index)"
      )
    btns(
      @slide="direction => $emit('slide', direction)"
    )



script(type="text/x-template")#slider-btns
  .works__slider-arrows
    button(type="button" @click="$emit('slide', 'prev')").works__slider-btn.works__slider-btn--up
      +icon('arrow-down', 'arrow arrow--up')
    button(type="button"  @click="$emit('slide', 'next')").works__slider-btn.works__slider-btn--down
      +icon('arrow-down', 'arrow arrow--down')



script(type="text/x-template")#thumbs-list
  ul.works__preview-list
    li.works__preview-item(
      v-for="(work, index) in works" :key="index",
      :class="{ 'works__preview-item--active': currentWork.id === work.id }"
      )
      button(type="button" @click="$emit('thumbClick', index)").works__preview-item-btn
        img(:src="work.photo" alt="Миниатюра работы").works__preview-item-img



script(type="text/x-template")#info-component
  .works__desc-block
    techList(
      :skills="currentWork.skills"
    )
    .works__desc
      h3.works__desc-title {{currentWork.title}}
      .works__desc-text 
        p {{currentWork.desc}}
    a(:href="currentWork.link" target="_blank").works__link Посмотреть сайт



script(type="text/x-template")#tech-list
  ul.works__tech-list
    li.tech.works__tech-item(
      v-for="(skill, index) in skillsArray" :key="index"
    ) {{skill}}