.content-wrapper

   //- nav
   

   //- content-block
   .content-block

      //- about section

  
      //- works section
      section.section.works
       .container.works__container
         .heading-row.works__heading-row
           h1.title.works__title Блок "Работы"
      
         //- form-component
         .form-block
           h2.form-block__title Редактирование работы

           form.form.work-form.form-block__content.form-block__content--work

             .form__photo.form__photo--work
               .form__upload-photo-container
                 .form__upload-photo-content
                   span.form__upload-photo-desc Перетащите или загрузите для загрузки изображения
                   button(type="button").btn.btn--upload-work-photo Загрузить

             .form__text.form__text--work
               .form__row
                 .form__col
                   label.form__text-block(for="title")
                     span.form__label Название
                     input.form__input.form__input--title#title(type="text" name="title" placeholder="Введите название работы")
               .form__row
                 .form__col
                   label.form__text-block(for="link")
                     span.form__label Ссылка
                     input.form__input.form__input--link#link(type="text" name="link" placeholder="Вставьте ссылку")
               .form__row.form__row--textarea
                 .form__col
                   label.form__text-block.form__text-block--textarea(for="description")
                     span.form__label Описание
                     textarea.form__textarea#description(name="description" rows="4" placeholder="Введите описание работы")
               .form__row.form__row--tags
                 .form__col
                   label.form__text-block(for="tags")
                     span.form__label Добавление тега
                     input.form__input.form__input--tags#tags(type="text" name="tags" placeholder="Если хотите, добавьте теги")
               .form__row
                 .form__col
                   ul.form__tags-list
                     li.form__tags-item
                       span.form__tags-name HTML
                       button(type="button").btn.btn--remove-tag
                     li.form__tags-item
                       span.form__tags-name CSS
                       button(type="button").btn.btn--remove-tag
                     li.form__tags-item
                       span.form__tags-name JavaScript
                       button(type="button").btn.btn--remove-tag
               .form__row.form__row--btns
                 .form__col
                   .form__btns
                     button(type="button").btn.btn--cancel-edit Отмена
                     button(type="button").btn.btn--save-edit Сохранить

         //- work cards component
         .work-cards
           ul.work-cards__list
             li.work-cards__item.work-cards__item--new-card
               button(type="button").btn.btn--add-new-card
                 span.btn__new-card-icon
                 span.btn__new-card-title Добавить работу
             li.work-cards__item
               //- work card component
               .work-card
                 .work-card__header
                   img(src="../images/content/work-previews/1.jpg" alt="Превью работы").work-card__img
                   .work-card__tags
                     .tags
                       ul.tags__list
                         li.tags__item HTML
                         li.tags__item CSS
                         li.tags__item JavaScript
                 .work-card__content
                   h3.work-card__title Сайт школы образования
                   .work-card__desc
                     p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                   a(href="//google.com").work-card__link //google.com
                   .work-card__btns
                     button(type="button").btn.btn--card-edit Править
                     button(type="button").btn.btn--card-remove Удалить
             li.work-cards__item
               .work-card


      //- reviews component
      section.section.reviews
        .container.reviews__container
          .heading-row.reviews__heading-row
            h1.title.reviews__title Блок "Отзывы"
      
          //- form component
          .form-block
            h2.form-block__title Новый отзыв

            form.form.review-form.form-block__content.form-block__content--review

              .form__photo.form__photo--review
                .form__upload-photo-container--review
                button(type="button").btn.btn--upload-review-photo Добавить фото

              .form__text.form__text--review
                .form__row.form__row--review-author-info
                  .form__col.form__col--review
                    label.form__text-block(for="name")
                      span.form__label Имя автора
                      input.form__input.form__input--name#name(type="text" name="name" placeholder="Введите имя автора")
                  .form__col.form__col--review
                    label.form__text-block(for="position")
                      span.form__label Титул автора
                      input.form__input.form__input--position#position(type="text" name="position" placeholder="Введите титул автора")
                .form__row.form__row--textarea
                  .form__col
                    label.form__text-block.form__text-block--textarea(for="review")
                      span.form__label Отзыв
                      textarea.form__textarea#review(name="review" rows="4" placeholder="Введите отзыв")

                .form__row.form__row--btns
                  .form__col
                    .form__btns.form__btns--review
                      button(type="button").btn.btn--cancel-edit Отмена
                      button(type="button").btn.btn--save-edit Сохранить

          //- review cards
          .review-cards
            ul.review-cards__list
              li.review-cards__item.review-cards__item--new-card
                button(type="button").btn.btn--add-new-card
                  span.btn__new-card-icon
                  span.btn__new-card-title Добавить отзыв

              li.review-cards__item
                //- review card component
                .review-card
                  .review-card__header
                    .review-author
                      .review-author__photo-block
                        img(src="../images/content/avatar.jpg" alt="Фотография автора отзыва").review-author__img
                      .review-author__desc
                        .review-author__name Владимир Сабанцев
                        .review-author__position Преподаватель
                  .review-card__content
                    .review-card__desc
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .review-card__btns
                      button(type="button").btn.btn--card-edit Править
                      button(type="button").btn.btn--card-remove Удалить

              li.review-cards__item
                .review-card