.about {
  grid-area: content-area;
  background-image: linear-gradient(rgba(#fff, .9), rgba(#fff, .9)), url('../images/bg/mountain-baloon.jpg');
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  height: auto;
  padding: 60px 0;
}

.about__heading-row {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.about__title {
  margin-right: 60px;
}