.review-author {
  display: flex;
  align-items: center;
}

.review-author__photo-block {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}

.review-author__img {
  border-radius: 50%;
}

.review-author__name {
  font-size: 18px;
  font-weight: bold;
  color: $text-color;
}

.review-author__position {
  font-size: 16px;
  font-weight: 600;
  color: rgba(65, 76, 99, 0.5);
}