.skill-cards__list {
  display: grid;
  grid-template:
    "card card" 390px / 1fr 1fr;
  grid-gap: 30px;
}

.skill-cards__item {
  min-height: 390px;
  box-shadow: 4.1px 2.9px 20px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}