.user-info {
  display: flex;
  align-items: center;
}

.user-info__avatar-wrapper {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  flex-shrink: 0;
}

.user-info__name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}